@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Patua+One&display=swap');

body{
  font-family: Comfortaa, Arial, sans-serif; 
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

/*hero image/video */

video{
    width: 100%;
    height: 100%;
}
.video {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: relative;
  overflow: hidden;
}

#logo{
    height: 170px;
    position: absolute;
    border: 1px solid turquoise;
    top: 70px;
    left:20px;
  }

  /*Navigation links*/


  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }

 nav li {
    float: right;
    font-size: 130%;
    font-family: Patua One, Times New Roman, sans-serif;
    
  }
  
  li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #086972;
  
}
 #menu a:hover{
color:white;
background-color: #086972;
 }
 .active{
   border-bottom:1px solid #086972;
 }