@import url('https://res.cloudinary.com/dwnm1wdkt/image/upload/v1652136472/Project%201/VistaCreate-230837704-stock-photo-smiling-father-baby-daughter-sitting_1_-min_ffl5b3.jpg');

body{
  font-family: Comfortaa, Arial, sans-serif; 
  color: #086972;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

/*hero image/video */

video{
    width: 100vw;
    height: 100vw;
}
.video {
  top: 0;
  left: 0;
  height: 600px;
  width: 100%;
  z-index: -1;
  position: relative;
  overflow: hidden;
}

#logo{
    height: 170px;
    position: absolute;
    border-radius: 0% 0% 45% 67% / 100% 71% 50% 0%;
    z-index: 2;
  }

  /*Navigation links*/

nav{
background: white;
  height: 80px;
  width: 100%;

}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  font-size: 25px;
  font-weight:700;

}
nav ul li a{
  color: #086972; 
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
a.active,a:hover{
  background: #086972;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: left;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

 /*footer*/

 footer{
   height: 300px;
   color: white;
   background-color: #086972;
   font-size: 20px; 
 }

#contact{
font-family: Patua One, Times New Roman, sans-serif;
margin-left: 10px;
padding-left: 1%;
font-size: 20px;
clear:both;
text-align: left;
 }

 #contact-info{
  margin: 20px 0 0 20px;
  font-size: 15px;
  padding: 10px;
  float:left;
 }

 ul{
   list-style-type: none;

 }
 #contact-us{
  float: right;
  font-size: 15px;
  padding: 12px 20px;
  box-sizing: border-box;
  line-height: 20px;
 }

#name-field{
  width:300px;
}

#email-field{
  width:300px;
}

input{
  display: inline-block;
  text-align: left;
}
#button{
padding: 10px;
text-decoration: none;
margin: 4px 2px;
cursor: pointer;
}

#button:hover{
  border: 2px solid #086972;
}
#message{
  width: 300px;
}
 #social-media{
   text-align: left;
   font-size: 160%;
   margin-right: 10px;
   padding: 10px 0 10px 5px;
   clear:both;
 }
.fa-brands{
  color:white;

}

/*body welcome page*/
#quote{
  padding:10px;
  width:auto;
}
.welcome-text{
  color: #086972;
  text-align: center;
  font-size: 25px;
  margin: 20px;
}
/*Ethos*/

#ethos{
  height: 500px;
  width: 100%;
  background-color: #086972;
  color: white;
}
#ethos img{
  height: 300px;
  width: 200px;

}

#image-father{
 background: url("https://res.cloudinary.com/dwnm1wdkt/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max,bo_5px_solid_red,b_rgb:262c35/v1651035948/Project%201/pexels-rodnae-productions-6849611_rdfkwy.jpg") no-repeat center center;
 width: 230px;
    height: 400px;
    float: left;
    background-color: #086972;
    padding: 20px 20px 0;
}


/* Meet up schedule */

.weekly{
  text-align: center;
    background: #086972;
    height: 40px;
    color: white;
    padding-top: 5px
}
#kids-blocks{ 
  background-image: url("https://res.cloudinary.com/dwnm1wdkt/image/upload/v1651011774/Project%201/pexels-skitterphoto-591652_gwdo5h.jpg");
  width:100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow:hidden;
  z-index: -1;
  position: relative;
  top: -350px;
}

#time-table img{
  width:100%;
  height:500px;
}
#time-table{
  width:100%;
  height:400px;

}
#time-table div{
  color: white;
    background-color: #086972;
    padding: 20px 20px 20px 10px;
    display: inline;
    width: 30%;
    height: 300px;
    float: right;
    text-align: center;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
    margin-left: 0;
    margin-right: 20px;
}

.fa-solid {
  padding: 20px;
}

#time-table >div >h3{
padding-top:10px;
}

#time-table h2{
  padding-bottom:8px;
}
a{
  color:white;
}

/* mouse over link */
a:hover {
  color: #086972;
  background-color: white;
}

/* Testimonial section*/
#comments{
  background-color: #086972;
  margin-bottom: 50px;
}
#heading{
  text-align: center;
  padding:5px;
  font-size: 30px;
  color:white;
}

.testimonials{
display: grid;
height: 100%;
place-items: center;
background: #086972;
}
::selection{
  background: #086972;
}
.wrapper{
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}
.wrapper .box{
  background: white;
  width: calc(29% - 10px);
  padding: 20px;
  margin-top:10px;
  
}
.wrapper .box i.quote{
  font-size: 20px;
  color: #086972;
}
.wrapper .box .content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.box .info .name{
  font-weight: 600;
  font-size: 17px;
}
.box .info .job{
  font-size: 16px;
  font-weight: 500;
  color: #086972;
}
.box .info .stars{
  margin-top: 2px;
}
.box .info .stars i{
  color: #086972;
}
.box .content .image{
  height: 75px;
  width: 75px;
  padding: 3px;
  background:#086972;
  border-radius: 50%;
}
.content .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}
.box:hover .content .image img{
  border-color: white;
}


/*Events sections */
 
.events{
  text-decoration: underline;
}
/* Yoga mom Gallary */

#container-yoga {
  margin-top: 50px;
  text-align: center;
  background: #086972;
  color: white;
  padding:10px;
  width: 100%;
}

    #yoga{
      margin-left: 250px;
      margin-top: 100px;
      padding: 30px 0;
      text-align: center;
      background: white;
      color: #086972;
      width: 70%;
    }
    
#container div {
flex: 0 32%;
height: 100px;
margin-bottom: 2px;
justify-content: space-between;
}

.item{
  height: 200px;
  width: 200px;
  margin: 5px;
}

/* Form link buttom */
#yoga a{
color: #086972;
font-weight:700;
}

#yoga a:hover{
  background-color: #086972;
  color: white;
}
#massage{
  margin-left: 200px;
    padding: 30px 0;
    text-align: center;
    background: white;
    color: #086972;
    width: 80%;
}

#container-massage div {
  flex: 0 32%;
  height: 100px;
  margin-bottom: 2px;
  justify-content: space-between;
  }
  
.container-massage{
  height: 26rem;
  padding: 5%;
  color:white;
  background-color:#086972;
  }



  /* Weaning event */

  .container-weaning{
    height: 45rem;
    padding: 5%;
    color:white;
    background-color:#086972;
    margin-left: 200px;
    margin-top: -40px;
    padding-top: 30px;
    }
  
    #weaning{
      width: 80%;
      text-align: center;
      color: #086972;
      margin-left: 10px;
      padding: 70px;
      background-color: white;
    }

    .video-section{
      height: 700px;
      background-color: #086972;
    }

    .container-weaning h4{
      padding-top: 20px;
    }
/* Pre-booking form */

#form-section{
  width:100vw;
  height:850px;
  background-color: #086972;
}

.sign-up-photo{
background: url("https://res.cloudinary.com/dwnm1wdkt/image/upload/v1651264272/Project%201/pexels-tatiana-syrikova-3933250-min_l71ezs.jpg");
background-size:cover;
background-position: center;
width: 100vw;
height: 100vh;
}

#sign-up-form{
  color: white;
  max-width: 400px;
  position:absolute;
  text-align: left;
  padding: 30px;
  margin-top: -700px;
  font-weight: 700;
  line-height: 1.5;
}

#text-fields{
  width:100%;
  height:25px;
}

#email-field{
  width:100%;
  height:25px;
}
#babys-name-field{
  width:100%;
  height:25px;
}
#form-secction input{
width:100%;
height: 25px;

}
 legend{
   text-decoration: underline;
 }
#course-choice{
  padding: 10px;
 
}
.block-label{
  display:block;
}

#submit-button{
  margin-top:20px;
  padding: 10px;
  border-radius: 2px;
  text-align: center;
  font-size: 100%;
  background-color: white;
  color: #086972;
  display: block;

}
#reset-button{
  margin-top:20px;
  padding: 10px;
  border-radius: 2px;
  text-align: center;
  font-size: 100%;
  color: #086972;
  background-color: white;
  display: block;
}
#reset-button:hover{
  background-color: #086972;
  color: white;
}

#submit-button:hover{
  background-color: #086972;
  color: white;
}
/* link to pre-booking form */

.container-massage a{
  color:#086972;
  font-weight: 700;
  
}
.container a{
  color:#086972;
  font-weight: 700;
}
#form-photo img{
  height:100%;
  width:100%;
  align-items: right;
}


/* Media Query */


/*For screens from 320px wide and up*/
@media screen and (min-width: 320px) { 

.nav-list{
  width: 480px;
}
#video video {
  margin-top: -20px;
 
}
#quote{
  width:450px;
  padding: 0;
}

#logo{
  height: 100px;
  margin-top: 45px;
}
.welcome-text{
font-size: 15px;
}
#image-father{
  width: 300px;
    height: 200px;
    padding: 20px 100px 0;
}
#ethos img {
  height: 300px;
  width: 200px;
}

  
#time-table h2 {
  margin-top: 170px;
}
#time-table div {
  width:100%;
  margin-bottom: 10px;
}
#buggy h2{
margin-top:30px;
}
#heading{
  margin-top: 600px;
  padding: 10px;
}
#tea h2{
  margin-top:30px;
}
#softpaly h2{
  margin-top:30px;

}
.wrapper{
  margin-left: 20px;
    width: 400px;
}
#contact-info {
  margin: 20px 0;
}
footer{
  height:600px;
}

#contact-list li{
  text-align: left;
  font-size: 12px;
}
#yoga{
  margin-left: 0;
  width: 300px;
}
#yoga p{
  padding:10px;
}
#massage{
  margin-left: -5px;
  width: 300px;
}
#massage p{
  padding:10px;

}
.container-massage{
  height: 1000px;
}
.container-weaning{
  margin-left: 0;
}
 .container-weaning h4{
  font-size: 15px;
  width: 250px;
  margin-left: -50px;

 }
#weaning{
  width:150px;
  margin-left: 0;
}
#weaning h3{
  margin-top: -30px
}
#video-weaning{
  margin: -10px -50px ;
width:250px;
}
.video-section {
  height: 600px;
}
#contact-info{
  font-size: 12px;
}
#contact-info h4{
  font-size: 20px;
}

.sign-up-photo{
  height: 60vh
}
#sign-up-form{
  margin-top: -600px;
}

#name-field {
  width: 260px;
  
}
#email-field{
  width: 260px;
  
}
#message{
  width: 260px;
  
}
}
/*For larger screens from 1380px wide and down*/
@media screen and (max-width: 1380px) {

  #logo{
   margin-top: 10px;
    width: 450px;
    height: 350px;
  }
  
    #video video {
      margin-top: -310px;
  }

  #quote{
    width: 100%;
    margin-top: -200px;
  }
#quote h1{
font-size: 50px;
 }
 


 
  } 

/*For larger screens from 1140px wide and down*/
@media screen and (max-width: 1140px) {


  /* nav bar */

  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #086972;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #086972;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

  .wrapper .box{
    width: calc(55% - 10px);
    margin: 10px 0;
  }
  .wrapper .box{
    width: calc(0 - 0);
    margin: 10px 0;
  }
  .welcome-text{
    font-size: 25px;
  }


  #ethos-img{
    height: 500px;
    width: 400px;
    margin-left: -10px;

  } 
  


/*For screens from 720px wide and down*/
@media screen and (max-width: 720px) {

  /* Nav bar */
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }



  *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  nav{
    background: white;
    height: 80px;
    width: 100%;
  }

  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #086972;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }

#video{
    margin-top: -100px;
  }
#logo{
  margin-top: 150px; 
}

}
/*For screens from 590px wide and down*/

